<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.example.joeroger"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".homework1.activity.WeatherActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".homework1.provider.WeatherProvider"
            android:authorities="${applicationId}.provider.WeatherProvider"
            android:enabled="true"
            android:exported="false">
        </provider>

        <service
            android:name=".homework1.service.WeatherService"
            android:exported="false">
        </service>

        <activity
            android:name=".homework1.activity.ForecastDetailActivity"
            android:label="@string/title_activity_forecast_detail"
            android:parentActivityName=".homework1.activity.WeatherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.joeroger.homework1.activity.WeatherActivity"/>
        </activity>
    </application>

</manifest>
