<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joeroger.samplemaps" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- course location is probably enough for this app, but need fine for emulator -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR KEY HERE" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IncidentDetailActivity"
            android:label="@string/title_activity_incident_detail"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.joeroger.samplemaps.activity.MainActivity" />
        </activity>

        <provider
            android:name=".provider.Seattle911Provider"
            android:authorities="${applicationId}.provider.Seattle911Provider"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <service
            android:name=".service.NetworkIntentService"
            android:exported="false" >
        </service>
        <service
            android:name=".service.NetworkAsyncJobService"
            android:enabled="@bool/use_job_service"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.NetworkHandlerJobService"
            android:enabled="@bool/use_job_service"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.NetworkAlarmIntentService"
            android:exported="false" >
        </service>
        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name=".receiver.AlarmBroadcastReceiver"
            android:enabled="@bool/use_alarm_service"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.example.samplebackgroundnetworking.receiver.action.ALARM_TRIGGERED" />
            </intent-filter>
        </receiver>

        <!--
             This receiver is disabled by default. It will only be enabled if the main activity
             detects there is no connectivity. The receiver will disable itself if connectivity
             is restored while app is running, or by the main activity during on pause
        -->
        <receiver
            android:name=".receiver.ConnectivityBroadcastReceiver"
            android:enabled="false"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
